@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'JetBrains Mono', monospace;
  }
  
  body {
    overflow-x: hidden;
  }
}
